@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">👋 Have a nice day!</h1>
    <p>Welcome to Drawing Hub - PRN231 by Vo Nguyen Dinh Tri, DE150031</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
